<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add your mood</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  
    <h1>How are you feeling today?</h1>

    <h2>Click a mood:</h2>

    <a href="/add/Happy"><button>😀 Happy</button></a>
    <a href="/add/Sad"><button>😢 Sad</button></a>
    <a href="/add/Angry"><button>😡 Angry</button></a>
    <a href="/add/Tired"><button>😴 Tired</button></a>

    <hr>
    <br><br>
    <a href="/">Back to home</a>
</body>
</html>