<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{ greeting }}</h1>
    <h2>Here are your recent moods:</h2>

    <ul>
        {% for mood in moods %}
        <li>{{mood[0]}}</li>
        {% endfor %}
    </ul>

    <br>
    <a class="btn" href="/add">Record your emotion for today!</a>
     <a class="btn btn-secondary" href="/calendar">📅 View Calendar</a>
   
</body>
</html>